.passwordContainer {
    width: 800px;
    padding: 20px 70px;
    margin: 20px auto 0;
    background-color: #fff;
}
.confirmInfo,
.resetPassword,
.findPassword {
    .typeTitle {
        border-bottom: 1px solid $lineGray;
        font-size: 14px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .typeItem {
        height: 70px;
        line-height: 70px;
        padding-left: 66px;
        @include bg_with_retina(find_password_bg, png, $loginModuleImgPath);
        background-position: 13px 13px;
        background-color: $lightGrayBg;
        margin-bottom: 20px;
        @include border-radius(4px);
        &.msgTypeItem {
            background-position: 15px -77px;
        }
    }
    .typeTip,
    .typeOper {
        float: left;
    }
    .typeTip {
        margin-right: 35px;
    }
    .typeOper {
        input {
            width: 398px;
        }
    }
    .msgTypeItem {
        h2 {
            padding-top: 10px;
            line-height: 28px;
            margin-top: 10px;
        }
        i {
            color: $darkOrangeFontColor;
            &.msgNumber {
                margin-left: 5px;
                margin-right: 15px;
            }
        }
    }
    .submitBtn {
        margin-left: 10px;
    }
    h2 {
        font-size: 16px;
    }
    p {
        line-height: 28px;
        @include rel-pos($top: -4px);
        color: $grayFontColor;
        font-size: 12px;
    }
    input {
        height: 34px;
        width: 256px;
        padding: 0 4px;
        border: 1px solid $lineGray;
        @include border-radius(4px);
    }
    .resetForm,
    .infoDesc {
        padding-left: 186px;
        position: relative;
        margin-bottom: 20px;
    }
    .userInfo {
        border-right: 1px solid $lineGray;
        @include abs-pos(0, auto, auto, 0);
        width: 154px;
        height: 100%;
        .userIcon {
            height: 80px;
            width: 80px;
            display: block;
            margin: 30px auto 0;
            @include border-radius(80px);
            overflow: hidden;
            cursor: default;
            img {
                height: 80px;
                width: 80px;
                @include border-radius(80px);
            }
        }
        .userName {
            display: inline-block;
            width: 98%;
            margin: 0 auto;
            line-height: 42px;
            @include text-truncate;
            text-align: center;
        }
    }
    .descRadio {
        height: 10px;
        width: 10px;
        @include rel-pos($top: -2px);
        margin-right: 6px;
    }
    label {
        display: block;
        margin-bottom: 20px;
    }
    .notMeLink {
        margin-left: 15px;
        color: $orange;
    }
    .formItem {
        margin-bottom: 20px;
        position: relative;
        .itemName {
            display: inline-block;
        }
        .submitReset {
            margin-left: 255px;
        }
    }
    .infoTip {
        margin-left: 5px;
    }
    .msgShow {
        @include abs-pos(auto, auto, -22px, 80px);
        font-size: 12px;
        color: $darkRed;
    }
    .resendCode {
        margin-left: 10px;
    }
    .xnwTip {
        padding-left: 186px;
        font-size: 12px;
        color: $grayFontColor;
        margin-top: 50px;
        i {
            color: $darkOrangeFontColor;
            padding: 0 2px;
        }
    }
}
