#gen_verify_layer {
    width: 438px;
    .privacy_message,
    .verify_layer_box {
        padding: 0;
        color: $grayFontColor;
    }
    .verify_layer_top {
        margin: 20px;
        .preamble {
            margin-bottom: 16px;
        }
        .verify_msg_box {
            @include border-radius(5px);
            border:1px solid $lineGray;
            height: 90px;
            width: 376px;
            padding: 10px;
            margin-bottom: 16px;
        }
        label {
            margin-bottom: 6px;
            display: block;
            input {
                margin-right: 6px;
            }
        }
    }
    .button_area {
        height: 48px;
        line-height: 48px;
        background-color: $lightGrayBg;
        text-align: right;
        padding: 0 20px;
        margin-top: 10px;
        text-align: right;
        button {
            margin-left: 10px;
        }
    }
}