#modifyUserPwd {
    width: 558px;
    border: 1px solid #ccc;
    background-color: #fff;
    @include border-radius(4px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .19);
    position: relative;
    z-index: 10;
    .title {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        border-bottom: 1px solid #eee;
        .closeBtn {
            float: right;
        }
    }
    .newBtnArea {
        height: 50px;
        line-height: 50px;
        margin-top: 50px;
        background-color: #f5f5f5;
        padding: 0 20px;
        text-align: right;
    }
    .changePassword {
        &.disabled {
            background-color: #ccc;
        }
    }
    .content {
        padding-top: 30px;
    }
    .pwdInfo {
        height: 30px;
        line-height: 30px;
        margin-bottom: 20px;
        padding-left: 30px;
    }
    .forgetPwd {
        font-size: 12px;
        margin-left: 20px;
    }
    .infoInput {
        height: 28px;
        border: 1px solid #ddd;
        width: 260px;
        padding: 0 4px;
    }
    .infoTitle {
        width: 70px;
        display: inline-block;
        text-align: right;
        color: $grayFontColor;
    }
}
#verifyEmailOrMobile {
    width: 558px;
    border: 1px solid #ccc;
    background-color: #fff;
    @include border-radius(4px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .19);
    position: relative;
    z-index: 10;
    .title {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        border-bottom: 1px solid #eee;
        .closeBtn {
            float: right;
        }
    }
    .newBtnArea {
        height: 50px;
        line-height: 50px;
        margin-top: 50px;
        background-color: #f5f5f5;
        padding: 0 20px;
        text-align: right;
    }
    .verifyAccount {
        &.disabled {
            background-color: #ccc;
        }
    }
    .content {
        padding-top: 30px;
    }
    .hintText {
        padding-left: 30px;
        color: $grayFontColor;
        line-height: 14px;
        margin-bottom: 30px;
    }
    .accountInfo {
        height: 30px;
        line-height: 30px;
        margin-bottom: 30px;
        padding-left: 30px;
    }
    .infoInput {
        height: 28px;
        border: 1px solid #ddd;
        width: 290px;
        padding: 0 4px;
        &.codeInput {
            padding-right: 80px;
            width: 214px;
        }
    }
    .infoTitle {
        width: 60px;
        display: inline-block;
        text-align: right;
        color: $grayFontColor;
    }
    .sendVerifyCode {
        width: 80px;
        height: 30px;
        @include border-radius(0);
        @include rel-pos($left: -85px);
    }
}
#setUserPassword {
    width: 558px;
    border: 1px solid #ccc;
    background-color: #fff;
    @include border-radius(4px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .19);
    position: relative;
    z-index: 10;
    .title {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        border-bottom: 1px solid #eee;
        .closeBtn {
            float: right;
        }
    }
    .newBtnArea {
        height: 50px;
        line-height: 50px;
        margin-top: 50px;
        background-color: #f5f5f5;
        padding: 0 20px;
        text-align: right;
    }
    .submitPw {
        &.disabled {
            background-color: #ccc;
        }
    }
    .content {
        padding-top: 30px;
    }
    .pwInfo {
        height: 30px;
        line-height: 30px;
        margin-bottom: 20px;
        padding-left: 30px;
    }
    .pwInput {
        height: 28px;
        border: 1px solid #ddd;
        width: 290px;
        padding: 0 4px;
    }
    .pwTitle {
        width: 70px;
        display: inline-block;
        text-align: right;
        color: $grayFontColor;
    }
    .sendVerifyCode {
        width: 100px;
    }
}
#del_spy_confirm_passwd_layer,
#add_spy_confirm_passwd_layer,
#unbind_mobileoremail {
    width: 558px;
    border: 1px solid #ccc;
    background-color: #fff;
    @include border-radius(4px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .19);
    position: relative;
    z-index: 10;
    .title {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        border-bottom: 1px solid #eee;
        .closeBtn {
            float: right;
        }
    }
    .newBtnArea {
        height: 50px;
        line-height: 50px;
        margin-top: 50px;
        background-color: #f5f5f5;
        padding: 0 20px;
        text-align: right;
    }
    .submitPwd {
        &.disabled {
            background-color: #ccc;
        }
    }
    .content {
        padding-top: 30px;
    }
    .hintText {
        padding-left: 30px;
        color: $grayFontColor;
        line-height: 14px;
    }
    .pwdContent {
        padding-left: 30px;
        margin-top: 30px;
    }
    .passcodeInput {
        width: 290px;
        padding: 0 4px;
        height: 28px;
        border: 1px solid #ddd;
    }
}
#changeAccountLayer {
    width: 558px;
    border: 1px solid #ccc;
    background-color: #fff;
    @include border-radius(4px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .19);
    position: relative;
    z-index: 10;
    .title {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        border-bottom: 1px solid #eee;
        .closeBtn {
            float: right;
        }
    }
    .newBtnArea {
        height: 50px;
        line-height: 50px;
        margin-top: 50px;
        background-color: #f5f5f5;
        padding: 0 20px;
        text-align: right;
    }
    .submitAccount {
        &.disabled {
            background-color: #ccc;
        }
    }
    .content {
        padding-top: 30px;
    }
    .hintText {
        padding-left: 30px;
        color: $grayFontColor;
        line-height: 14px;
    }
    .accoundContent {
        padding-left: 30px;
        margin-top: 30px;
    }
    .accountInput {
        width: 290px;
        padding: 0 4px;
        height: 28px;
        border: 1px solid #ddd;
    }
}
#changeMobileLayer {
    width: 558px;
    border: 1px solid #ccc;
    background-color: #fff;
    @include border-radius(4px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .19);
    position: relative;
    z-index: 10;
    .title {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        border-bottom: 1px solid #eee;
        .closeBtn {
            float: right;
        }
    }
    .newBtnArea {
        height: 50px;
        line-height: 50px;
        margin-top: 50px;
        background-color: #f5f5f5;
        padding: 0 20px;
        text-align: right;
    }
    .verifyAccount {
        &.disabled {
            background-color: #ccc;
        }
    }
    .content {
        padding-top: 30px;
    }
    .hintText {
        padding-left: 30px;
        color: $grayFontColor;
        line-height: 14px;
        margin-bottom: 30px;
    }
    .mobileInfo {
        height: 30px;
        line-height: 30px;
        margin-bottom: 30px;
        padding-left: 30px;
    }
    .mobileInput {
        height: 28px;
        border: 1px solid #ddd;
        width: 290px;
        padding: 0 4px;
        &.verifyCodeInput {
            padding-right: 80px;
            width: 214px;
        }
    }
    .infoTitle {
        width: 60px;
        display: inline-block;
        text-align: right;
        color: $grayFontColor;
    }
    .getVerifyCodeBtn {
        width: 80px;
        height: 30px;
        @include border-radius(0);
        @include rel-pos($left: -85px);
    }
}
#changeEmailLayer {
    width: 558px;
    border: 1px solid #ccc;
    background-color: #fff;
    @include border-radius(4px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .19);
    position: relative;
    z-index: 10;
    .title {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        border-bottom: 1px solid #eee;
        .closeBtn {
            float: right;
        }
    }
    .newBtnArea {
        height: 50px;
        line-height: 50px;
        margin-top: 50px;
        background-color: #f5f5f5;
        padding: 0 20px;
        text-align: right;
    }
    .submitEmail {
        &.disabled {
            background-color: #ccc;
        }
    }
    .content {
        padding-top: 30px;
    }
    .hintText {
        padding-left: 30px;
        color: $grayFontColor;
        line-height: 14px;
        margin-bottom: 30px;
    }
    .tipMsg {
        padding-left: 30px;
        color: $orangeFontColor;
        line-height: 20px;
        font-size: 12px;
        margin-bottom: 30px;

    }
    .emailInfo {
        height: 30px;
        line-height: 30px;
        margin-bottom: 30px;
        padding-left: 30px;
    }
    .emailInput {
        height: 28px;
        border: 1px solid #ddd;
        width: 214px;
        padding: 0 80px 0 4px;
    }
    .getVerifyEmailBtn {
        width: 80px;
        height: 30px;
        @include border-radius(0);
        @include rel-pos($left: -85px);
        font-size: 12px;
        &.disabled {
            background-color: #ccc;
        }
    }
}

#modify_password_layer,
#resend_success,
#_changeRealNameLayer,
#_bindMobileLayer{
    width: 438px;
    input {
        height: 27px;
        line-height: 27px \9;
        border: solid 1px $borderGray;
        width: 220px;
        padding-left: 8px;
        @include border-radius(3px);
        &.w_170 {
            width: 160px;
        }
    }
    .privacy_message {
        padding: 20px 0 0 0;
    }
    .hint {
        color: $grayFontColor;
        font-size: 12px;
        padding: 0 20px 10px;
        &.warning {
            color: $darkRed;
        }
        &.height_lignt {
            color: $darkOrangeFontColor;
        }
    }
    .box_45 {
        padding: 0 20px;
        height: 50px;
        i {
            margin-left: 8px;
            cursor: default;
        }
        .hide {
            display: none;
        }
        .w_70 {
            width: 70px;
            display: inline-block;
            text-align: right;
        }
    }
}

#_bindMobileLayer{
    .bindTips {
        border: 1px solid $borderOrange;
        color: $orangeFontColor;
        text-align: center;
        line-height: 30px;
        margin: 0 20px 20px;
        background: rgba($borderOrange, 0.4);
    }
    .box_45 {
        width: 320px;
        margin: 0 auto 5px;
        .hint {
            padding-left: 75px;
            &.warning {
                color: $darkOrangeFontColor;
            }
        }
        .codeInput {
            width: 120px;
        }
    }
    .resend_code {
        font-size: 12px;
        font-weight: normal;
    }
}
