/*老师重置学生密码*/
#resetOriginPassword {
    width: 438px;
    .privacy_message {
        padding: 20px 0 0;
    }
    p {
        margin:10px 20px 20px;
    }
    .newBtnArea {
        height: 48px;
        line-height: 48px;
        background-color: $lightGrayBg;
        text-align: right;
        padding: 0 20px 0 0;
        margin-top: 10px;
        text-align: right;
        button {
            margin-left: 20px;
        }
    }
}