#resetChildPassword {
    width: 478px;
    .layer_content {
        padding: 0;
    }
    .userInfoContent {
        position: relative;
        padding: 30px 20px 20px 112px;
    }
    .userIcon {
        height: 72px;
        width: 72px;
        @include border-radius(36px);
        display: block;
        @include abs-pos(30px, auto, auto, 20px);
        img {
            height: 72px;
            width: 72px;
            @include border-radius(36px);
        }
    }
    .passwordInfo {
        .item {
            height: 30px;
            line-height: 30px;
            margin-bottom: 10px;
            input {
                height: 28px;
                width: 150px;
                padding: 0 4px;
                border: 1px solid $lineGray;
            }
        }
    }
    .resetTip {
        font-size: 12px;
        color: $grayFontColor;
        float: left;
        margin-left: 20px;
        i {
            margin-right: 2px;
            color: $darkOrangeFontColor;
        }
    }
}