#save_receiver_group_layer {
    width: 400px;
    .privacy_message {
        padding: 0;
    }
    .save_group_name{
        margin: 30px 20px;
        width: 306px;
        height: 28px;
        line-height: 28px;
        padding: 0 5px;
        @include border-radius(5px);
        border: 1px solid $lineGray;
        input {
            height: 28px;
            line-height: 28px;
            border: none;
            width: 306px;
        }
    }
    .button_area {
        height: 48px;
        line-height: 48px;
        background-color: $lightGrayBg;
        text-align: right;
        padding: 0 20px;
        margin-top: 10px;
        text-align: right;
        border-top: 1px solid $borderGray;
        .btn-orange {
            margin-right: 10px;
        }
    }
}