#tipsLayer, #tickOutStudent {
    width: 438px;
    .privacy_message {
        padding: 0;
    }
    p {
        padding: 20px 20px 0;
    }
    label {
        float: left;
        margin-left: 20px;
    }
}