#show_invite_poplayer {
    width: 438px;
    .privacy_message {
        padding: 20px 0 0;
    }
    .invite_to_qun {
        height: 88px;
        width: 388px;
        padding:5px;
        border: 1px solid $lineGray;
        @include border-radius(4px);
        margin: 0 20px;
        resize: none;
    }
    .invite_to_qun_master {
        height: 20px;
        line-height: 20px;
        padding-left: 20px;
        margin-top: 20px;
    }
}
