/*网站弹层的统一样式*/
.pop_privacy_mes {
    width: 598px;
    background: #fff;
    position: fixed;
    top: 20%;
    left: 35%;
    z-index: 100;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    border: 1px solid $lineGray;
    @include border-radius(4px);
    .layer_main {
        position:relative;
    }
    /* 日志操作区样式 */
    .layer_title_35,
    .layer_title_40 {
        cursor:move;
        font-family: $genericFontFamily;
        position: relative;
        padding: 0 40px 0 20px;
        @include border-radius(4px 4px 0 0);
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        border-bottom: 1px solid $borderGray;
        border-top: 1px solid #fff;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .pop_del {
        position: absolute;
        right: 15px;
        top: 0;
        padding: 0 5px;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            i {
                color: $darkOrangeFontColor;
            }
        }
    }
    .privacy_message {
        position: relative;
        min-height: 100px;
        padding: 20px;
        .tips {
            color: #999999;
        }
    }

    .xnw_say_something {
        border: 0;
    }
    .newBtnArea {
        height: 50px;
        line-height: 50px;
        padding-right: 20px;
        margin-top: 20px;
        text-align: right;
        background-color: $lightGrayBg;
        button {
            margin-left: 16px;
        }
    }
}
.ui-datepicker {
    z-index: 99999 !important;
    background: #fff !important;
}
.maskLayer {
    opacity: 0.4;
    @include fix-pos(0, auto, auto, 0);
    width: 100%;
    height: 100%;
    background-color: #000;
}
