$icomoon-font-path: "/fonts" !default;

$xicon-full-screen: "\e600";
$xicon-my-comment: "\e601";
$xicon-compose: "\e602";
$xicon-friend-group: "\e603";
$xicon-album-bookmark: "\e604";
$xicon-album-close: "\e605";
$xicon-attach: "\e609";
$xicon-boomerang-down: "\e60a";
$xicon-boomerang-left: "\e60b";
$xicon-boomerang-right: "\e60c";
$xicon-boomerang-up: "\e60d";
$xicon-chat-add-friend: "\e60e";
$xicon-chat-add-user: "\e60f";
$xicon-chat-buble: "\e610";
$xicon-chat-contact: "\e611";
$xicon-circle-arrow-down: "\e612";
$xicon-circle-arrow-up: "\e615";
$xicon-circle-plus: "\e616";
$xicon-cog: "\e617";
$xicon-collaspe-close: "\e618";
$xicon-compass: "\e619";
$xicon-double-arrow-left: "\e61a";
$xicon-double-arrow-right: "\e61b";
$xicon-download: "\e61c";
$xicon-edit: "\e61d";
$xicon-ellipsis: "\e61e";
$xicon-foward: "\e620";
$xicon-grid-4: "\e623";
$xicon-grid-9: "\e624";
$xicon-group-of-add: "\e625";
$xicon-help-bubble: "\e626";
$xicon-info: "\e629";
$xicon-location: "\e62c";
$xicon-locker-locked: "\e62d";
$xicon-locker-unlock: "\e62e";
$xicon-media: "\e62f";
$xicon-my-block: "\e632";
$xicon-my-favorite: "\e635";
$xicon-my-follower: "\e636";
$xicon-my-friend: "\e637";
$xicon-my-home: "\e638";
$xicon-my-photo: "\e639";
$xicon-my-post: "\e63a";
$xicon-ok: "\e63c";
$xicon-personal-record: "\e63d";
$xicon-plus: "\e63e";
$xicon-posts: "\e641";
$xicon-promote-12: "\e642";
$xicon-prompt-info: "\e643";
$xicon-receive-a-case: "\e644";
$xicon-reminder-user-group: "\e646";
$xicon-rotate-left: "\e648";
$xicon-rotate-right: "\e649";
$xicon-search: "\e64f";
$xicon-female: "\e650";
$xicon-male: "\e651";
$xicon-smile: "\e652";
$xicon-tag: "\e655";
$xicon-template: "\e656";
$xicon-to-top: "\e658";
$xicon-user-add: "\e65b";
$xicon-user-group: "\e65c";
$xicon-user: "\e65d";
$xicon-verified-group: "\e65e";
$xicon-voice-left: "\e65f";
$xicon-voice-right: "\e660";
$xicon-x-circle: "\e662";
$xicon-x-small: "\e663";
$xicon-zoom: "\e664";
$xicon-chat-add-group: "\e665";
$xicon-end-time: "\e666";
$xicon-public: "\e66c";
$xicon-align-left: "\e675";
$xicon-align-right: "\e676";
$xicon-private: "\e677";
$xicon-mobile-phone: "\e67b";
$xicon-link: "\e900";
$xicon-file: "\e901";
$xicon-log-list: "\e902";
$xicon-service: "\e903";
$xicon-warning-tip: "\e904";
$xicon-Android: "\e905";
$xicon-iPhone: "\e906";
$xicon-add-icon: "\e907";
$xicon-at-me: "\e908";
$xicon-chat-icon: "\e909";
$xicon-circle-arrow-left: "\e90a";
$xicon-circle-arrow-right: "\e90b";
$xicon-friend-circle: "\e90c";
$xicon-grid-4-circle: "\e90d";
$xicon-help: "\e90e";
$xicon-new-chat: "\e90f";
$xicon-pic-list: "\e910";
$xicon-new-log: "\e911";
$xicon-v-reminder: "\e912";
$xicon-v-block: "\e913";
$xicon-v-certify: "\e914";
$xicon-v-clock: "\e915";
$xicon-v-cog: "\e916";
$xicon-v-comment: "\e917";
$xicon-v-draft: "\e918";
$xicon-v-follower: "\e919";
$xicon-v-friend: "\e91a";
$xicon-v-post: "\e91b";
$xicon-v-record: "\e91c";
$xicon-v-star: "\e91d";
$xicon-trash: "\e91e";
$xicon-course-admin: "\e91f";
$xicon-course-class: "\e920";
$xicon-course-manage: "\e921";
$xicon-course-partner: "\e922";
$xicon-course-teacher: "\e923";
$xicon-school-info: "\e924";
$xicon-teacher-training: "\e925";
$xicon-address: "\e926";
$xicon-exit-full-screen: "\e927";
$xicon-class: "\e928";
$xicon-contact: "\e929";
$xicon-course: "\e92a";
$xicon-date: "\e92b";
$xicon-email: "\e92c";
$xicon-fav-course: "\e92d";
$xicon-money: "\e92e";
$xicon-training: "\e92f";
$xicon-selected: "\e930";
$xicon-arrow-down: "\e931";
$xicon-email2: "\e932";
$xicon-exam-point: "\e933";
$xicon-partner-pending: "\e934";
$xicon-publisher-info: "\e935";
$xicon-publisher-manage: "\e936";
$xicon-school-manage: "\e937";
$xicon-training-address: "\e938";
$xicon-training-plan: "\e939";
$xicon-intro: "\e93a";
$xicon-my-clock: "\e93b";
$xicon-arrow: "\e93c";
$xicon-slide-down: "\e93d";
$xicon-slide-up: "\e93e";
$xicon-title-list: "\e93f";
$xicon-activity-icon: "\e940";
$xicon-album-icon: "\e941";
$xicon-attendance-icon: "\e942";
$xicon-star-in: "\e943";
$xicon-course-icon: "\e944";
$xicon-evaluation-icon: "\e945";
$xicon-exam_report-icon: "\e946";
$xicon-log-out: "\e947";
$xicon-relation-icon: "\e948";
$xicon-vote-icon: "\e949";
$xicon-work-icon: "\e94a";
$xicon-add-channel: "\e94b";
$xicon-change-2-first: "\e94c";
$xicon-change-2-second: "\e94d";
$xicon-del-channel: "\e94e";
$xicon-move-channel: "\e94f";
$xicon-album-retweet: "\e950";
$xicon-my-class: "\e951";
$xicon-xcourse_register: "\e952";
$xicon-triangle-down: "\e953";
$xicon-triangle-left: "\e954";
$xicon-triangle-right: "\e955";
$xicon-triangle-up: "\e956";
$xicon-muted: "\e957";
$xicon-notify-icon: "\e958";
$xicon-silent: "\e959";
$xicon-sound: "\e95a";
$xicon-schedule-icon: "\e95b";
$xicon-my-school: "\e95c";
$xicon-reminder-icon: "\e95d";
$xicon-slide-view: "\e95e";
$xicon-statistics-icon: "\e95f";
$xicon-arrow-tool: "\e960";
$xicon-bold-rotate-left: "\e961";
$xicon-bold-rotate-right: "\e962";
$xicon-brush: "\e963";
$xicon-font: "\e964";
$xicon-undo: "\e965";
$xicon-zoom-in: "\e966";
$xicon-zoom-out: "\e967";
$xicon-new-setting: "\e968";
$xicon-star-out: "\e969";
$xicon-zan: "\e96a";
$xicon-class_perform-icon: "\e96b";
$xicon-order: "\e96c";
$xicon-live-in: "\e96d";
$xicon-shrink: "\e96e";
$xicon-enlarge: "\e96f";
$xicon-record-on: "\e970";
$xicon-record-off: "\e971";
$xicon-attachment: "\e972";
$xicon-picture: "\e973";
$xicon-video: "\e974";
$xicon-audio: "\e975";
$xicon-no-public: "\e976";
$xicon-allow-chat: "\e977";
$xicon-live-exercises: "\e978";
$xicon-no-chat: "\e979";
$xicon-add-tl: "\e97a";
$xicon-down: "\e97b";
$xicon-up: "\e97c";
$xicon-change: "\e97d";
$xicon-eye-read: "\e97e";
$xicon-hint-info: "\e97f";
$xicon-live-full-screen: "\e980";
$xicon-h5-close: "\e981";
$xicon-h5-consult: "\e982";
$xicon-h5-folder: "\e983";
$xicon-h5-list: "\e984";
$xicon-h5-live: "\e985";
$xicon-h5-pause: "\e986";
$xicon-h5-play: "\e987";
$xicon-h5-star: "\e988";
$xicon-h5-top: "\e989";
