// FONT PALETTE
$blackFontColor: #313131;
$blueFontColor: #0088CC;
$grayFontColor: #9B9B9B;
$orangeFontColor: #FFAA33;
$lightBlueFontColor: #50A2DA;
$darkBrownFontColor: #8A7762;
$extraGrayFontColor: #CCCCCC;
$lightBlackFontColor: #5B5B5B;
$darkOrangeFontColor: #FF5500;

// BACKGROUND PALETTE
$lightGrayBg: #F5F5F5;
$headerNavBg: #F8F8F8;
$middleGrayBg: #E8E8E8;

// Primary Palette
$orange: #FF8B00;
$bgOrange: #FFFBF4;
$darkOrange: #FF5500;
$chatOrange: #FFDD88;
$lightOrange: #FF7733;
$labelOrange: #FF8800;
$borderOrange: #FEEED4;

// Green Palette
$green: #3BC475;
$statusGreen: #32C572;

// Gray Palette
$bodyGray: #F2F2F3;
$lineGray: #DDDDDD;
$menuGray: #333332;
$borderGray: #CCCCCC;
$buttonGray: #BBBBBB;
$sideBarGray: #E9E9E9;
$lightLineGray: #EEEEEE;
$lightMenuGray: #9E9E9E;

$lineGray2: #EDEAE4;
$fontGray: #AEAEAE;

// Blue Palette
$blue: #0088CC;
$tagBlue: #96D8F9;
$columnBlue: #86CAFB;

// Red Palette
$darkRed: #CC0033;
$lightRed: #DD1133;
$pinkRed: #FE5C7F;

// Yellow Palette
$yellowBg: #FFFCF8;
$lineYellow: #FEEED4;
$starYellow: #F8DA06;
$lightYellow: #FFFFCC;
$yellowTitle: #8A7762;
$yellowTitleBg: #FFF3DF;
$yellowFontColor: #AE9B85;

// 发成绩表格用的颜色
$scoreTableTh: #FFF3DF;
$scoreTableTd: #FFFAF0;
$scoreTableThColor: #8A7762;

// 整站的背景颜色
$bodyBg: #F1F1F1;
$asideBg: #E6E6E6;
$borderDark: #E0E0E0;
$qunNavHover: #DBDBDB;

$bodyFontFamily: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "Microsoft YaHei", "微软雅黑", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$baseFontFamily: Arial, Helvetica, sans-serif;
$sansSerifFontFamily: "Helvetica Neue", Tahoma, Verdana, $baseFontFamily;
$androidFontFamily: Roboto, Noto, $sansSerifFontFamily;
$iOSFontFamily: -apple-system, "SF UI Text", $sansSerifFontFamily;
$genericFontFamily: "Microsoft YaHei", "微软雅黑", $baseFontFamily;
$specialFontFamily: "Lantinghei SC", "Microsoft YaHei", $baseFontFamily;

$imgVer: 20180426;
$baseImgRootPath: "/images/";
$hhmsImgPath: "/images/hhms/";
$baseXnwImgPath: "/images/xnw/";
$versionImgPath: "/images/version/";
$schoolIconPath: "/images/my_school/";
$evaluationImgPath: "/images/evaluation/";
$onlineExamImgPath: "/images/online_exam/";
$attendanceImgPath: "/images/m-attendance/";
$studyCenterImgPath: "/images/studycenter/";
$qunIndexSetImgPath: "/images/qun_index_set/";
$loginModuleImgPath: "/images/login_and_register/";
$schoolAuthenticateImgPath: "/images/authenticate/";
$schoolAttendancePath: "/images/my_school/attendance/";

