.userFollowQunStatus {
    &.guestPageStatus {
        .statusContainer {
            padding-top: 40px;
            min-height: 314px;
        }
    }
    .statusContainer {
        background-color: #fff;
        width: 940px;
        padding: 20px 0;
        margin: 20px auto;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.19);
        position: relative;
    }
    .statusTip {
        line-height: 34px;
        font-size: 14px;
        color: $grayFontColor;
        text-align: center;
    }
    .promptIcon {
        color: $orangeFontColor;
        margin-right: 4px;
        @include rel-pos($top: 2px);
    }
    .loginBtnBox,
    .enterMassageType,
    .enterPasswordType {
        text-align: center;
        height: 30px;
        line-height: 30px;
        .inputText {
            margin-left: 80px;
        }
    }
    .messageInput,
    .passwordInput {
        width: 210px;
        height: 28px;
        line-height: 28px;
        padding: 0 80px 0 4px;
        border: 1px solid #e8e8e8;
        background-color: #f8f8f8;
        @include border-radius(2px);
    }
    .loginButton,
    .submitButton,
    .submitMessageBtn,
    .submitPasswordBtn {
        background: none;
        border: none;
        background-color: #ffaa33;
        width: 76px;
        text-align: center;
        height: 28px;
        color: #fff;
        display: inline-block;
        @include rel-pos($left: -80px);
        @include border-radius(0 2px 2px 0);
        &[disabled] {
            background-color: #ccc;
        }
    }
    .loginButton,
    .submitButton {
        @include rel-pos($left: 0);
    }
}

