.introVipContainer {
    width: 940px;
    margin: 30px auto 0;
    .vipImg {
        width: 100%;
        height: 300px;
        margin-bottom: 30px;
        text-indent: -100%;
        overflow: hidden;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .19);
        @include bg_with_retina(vip_intro_img, png, $versionImgPath);
    }
    .vipContent {
        padding: 22px 22px 106px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .19);
    }
    .oneItem {
        width: 286px;
        height: 70px;
        line-height: 70px;
        font-size: 0;
        float: left;
        background-color: #fff;
        margin: 6px;
        .itemContent {
            font-size: 14px;
            line-height: 22px;
            margin: 0 20px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}
.registerVipContainer {
    width: 880px;
    margin: 30px auto 0;
    padding: 0 30px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .19);
    .registerTitle {
        height: 78px;
        line-height: 78px;
        text-align: center;
        font-size: 18px;
        color: #B49642;
        font-weight: normal;
        margin-bottom: 40px;
        border-bottom: 1px dashed #eee;
    }
    .infoItem {
        height: 30px;
        margin-bottom: 28px;
        padding-left: 142px;
        position: relative;
    }
    .itemName {
        display: inline-block;
        width: 70px;
        text-align: right;
        margin-right: 10px;
    }
    .itemInput {
        width: 420px;
        padding: 0 5px;
        height: 28px;
        border: 1px solid #eee;
        @include border-radius(2px);
    }
    .errMsg {
        font-size: 12px;
        color: $darkOrangeFontColor;
        @include abs-pos(30px, auto, auto, 226px);
        &.labelType {
            top: 22px;
        }
    }
    .itemLabel {
        margin-right: 30px;
    }
    .radioInput {
        margin-right: 10px;
    }
    .btnArea {
        padding: 20px;
        text-align: center;
        border-top: 1px dashed #eee;
    }
    .submitVipRegister {
        width: 270px;
        height: 36px;
        line-height: 36px;
        margin: 20px 0;
        @include border-radius(5px);
    }
    .submitTip {
        font-size: 12px;
        line-height: 52px;
    }
    .licenseLink {
        color: $orangeFontColor;
    }
}
.vipStatus {
    width: 940px;
    padding: 120px 0;
    margin: 0 auto;
    .statusText {
        padding-top: 240px;
        line-height: 30px;
        text-align: center;
        @include bg_with_retina(vip_status_img, png, $versionImgPath);
        background-position: top center;
    }
}