// =============================================================================
// emotion
// =============================================================================
.emo_pic {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin: 0 6px 6px;
}
.emotion_list {
    width: 462px;
    height: 286px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0,.4);
    @include abs-pos(27px, auto, auto, 5px);
    display: none;
    z-index: 100000;
    background-color: #fff;
}

.emotion_face {
    padding: 10px;
    height: 266px;
    overflow-y: auto;
     a {
        display: block;
        width: 32px;
        text-align: center;
        line-height: 32px;
        height: 32px;
        @include border-radius(32px);
        padding: 5px;
        border: 1px solid #fff;
        float: left;
        cursor: pointer;
        &:hover {
            border: 1px solid $darkOrange;
        }
    }
    img {
        float:left;
        width: 32px;
        height: 32px;
        margin: 0;
    }
}
