@charset "UTF-8";

.ptHeaderNav {
    background-color: $headerNavBg;
    width: 100%;
    min-width: 1000px;
    height: 44px;
    z-index: 11;
    border-bottom: 1px solid $middleGrayBg;
    @include fix-pos(0, auto, auto, auto);
    .menu_in_header {
        position: relative;
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        z-index: 2;
    }
    .logo_O_S {
        width: 84px;
        height: 28px;
        float: left;
        text-align:left;
        margin-top: 8px;
        @include bg_with_retina(orange-logo, png, $versionImgPath);
        background-size: cover;
        img {
            width: 32px;
            height: 32px;
            position: relative;
            top: -2px;
        }
    }
}
.xnwHeaderNav {
    width: 100%;
    min-width: 1140px;
    height: 43px;
    margin: 0 auto;
    line-height: 43px;
    font-size: 12px;
    border-bottom: 1px solid $middleGrayBg;
    background-color: $headerNavBg;
    z-index: 100;
    @include  fix-pos(0, auto, auto, 0);
    &+* {
        padding-top: 44px;
    }
    .menuInHeader {
        width: 1140px;
        margin: 0 auto;
        .navBar {
            position: relative;
            &>ul {
                &>li {
                    float: left;
                    &:nth-child(4){
                        margin-right: 55px;
                        margin-left: 70px;
                    }
                    &:nth-child(3),
                    &:nth-child(5),
                    &:nth-child(6){
                        height: 43px;
                        width: 48px;
                    }
                    &>a {
                        color: $lightBlackFontColor;
                        &.goLogin {
                            color: $orangeFontColor;
                        }
                    }
                }
            }
            .oneLink {
                height: 43px;
                line-height: 43px;
                float: left;
                padding: 0 16px;
                position: relative;
                @include border-radius(100px);
                .dynamicMsgLayer {
                    @include abs-pos(43px,auto, auto, -5px);
                }
                &:hover {
                    .dynamicMsgLayer {
                        display: block;
                    }
                }
                &.on {
                    height: 30px;
                    margin: 7px 8px auto auto;
                    line-height: 30px;
                    color: $blackFontColor;
                    background: $middleGrayBg;
                }
            }
            .oneItem {
                display: inline-block;
                position: relative;
                height: 43px;
                line-height: 43px;
                margin-left: 37px;
                &.unlogin {
                    width: auto;
                    margin-left: 825px;
                    & + li {
                        margin-left: 37px;
                        margin-right: 0;
                    }
                }
                &:hover {
                    .dynamicMsgLayer {
                        display: block;
                    }
                }
                .icon {
                    display: inline-block;
                    line-height: 43px;
                    width: 23px;
                    position: relative;
                    top: 3px;
                    i {
                        color: #515151;
                    }
                }
                .dot {
                    width: 6px;
                    height: 6px;
                    display: block;
                    background-color: $darkOrange;
                    @include border-radius(100px);
                    @include abs-pos(8px, auto, auto, 15px);
                }
                .redTag {
                    display: block;
                    height: 14px;
                    line-height: 14px;
                    font-size: 10px;
                    padding: 0 5px;
                    color: #FFF;
                    background-color: $darkOrange;
                    @include border-radius(12px);
                    @include abs-pos(3px, auto, auto, 10px);
                    &:empty {
                        display:none;
                    }
                    &.chatUnread {
                        left: 8px;
                    }
                }
                .userIcon {
                    img {
                        width: 24px;
                        height: 24px;
                        vertical-align: middle;
                        @include border-radius(100%);
                    }
                }
            }
        }
    }
    .mainSearchBox {
        input {
            font-size: 12px;
        }
    }
}

.dynamicMsgLayer {
    white-space: nowrap;
    @include abs-pos(42px, auto, auto, -20px);
    z-index: 1000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    font-size: 12px;
    padding: 6px 0;
    background-color: #FFF;
    display: none;
    max-height: 350px;
    overflow: auto;
    &.myNavMenu {
        @include abs-pos(31px, -58px, auto, auto);
    }
    &.authorizeQun {
        min-width: 120px;
    }
    .dynamicMsgLink {
        display: block;
        color: $grayFontColor;
        height: 30px;
        line-height: 30px;
        padding: 0 20px;
        position: relative;
        &:hover {
            color: $lightBlackFontColor;
            background-color: $lightLineGray;
        }
        .newMsgTip {
            height: 16px;
            line-height: 16px;
            font-size: 12px;
            background-color: #FF5500;
            color: #FFF !important;
            padding: 0 5px;
            margin: 0;
            @include abs-pos(14px, 12px, auto, auto);
            @include border-radius(16px);
            white-space: nowrap;
            &.dot {
                width: 6px;
                height: 6px;
                padding: 0;
                top: 18px;
                right: 16px;
            }
        }
    }
    button {
        width: 100%;
        text-align: left;
        border: none;
        background: none;
    }
    i {
        color: $blackFontColor;
        @include rel-pos($top: 2px);
        margin-right: 12px;
    }
}

// 主导航搜索框 */
.mainSearchBox {
    @extend %mainSearchStyle;
    width: 204px;
    background: #FFF;
    padding: 0 0 0 34px;
    height: 30px;
    line-height: 30px;
    float: none;
    margin: 6px 0 auto auto;
    display: inline-block;
    color: $blackFontColor;
    @include border-radius(22px);
    border: 1px solid $middleGrayBg;
    input {
        padding: 6px 5px;
        height: 18px;
        line-height: 18px;
        color: $blackFontColor;
        @include border-radius(0 22px 22px 0);
    }
    .searchIcon {
        color: $borderGray;
        @include abs-pos(7px, auto, auto, 12px);
    }
    .searchQun {
        width: 220px;
        padding-right: 130px;
    }
    input::-webkit-input-placeholder {
        color: $grayFontColor;
    }
    input::-moz-placeholder {
        color: $grayFontColor;
    }
    input:-moz-placeholder {
        color: $grayFontColor;
    }
    input:-ms-input-placeholder {
        color: $grayFontColor;
    }
}

#global_search_suggest {
    z-index: 1000;
    @include abs-pos(80%, auto, auto, 15px);
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    width: 160px;
    cursor: pointer;
    border-top: 1px solid $lineGray;
    padding: 5px 0;

    div {
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        width: 100%;
        text-align: center;
        color: $blackFontColor;
        text-decoration: none;
        float: none;
        font-weight: normal;
        padding: 0;
        border: 0;

        &.on {
            background-color: $orange;
            color: #fff;
            border: 0;
        }
        span {
            display: inline-block;
            height: 30px;
            @include text-truncate;
            max-width: 85px;
        }
    }
}

// footer的通用样式*/
.footer {
    border-top: 1px solid $middleGrayBg;
    width: 100%;
    background: rgba(255, 255, 255, .8);
    margin-top: 50px;
    position: relative;
    z-index: 1;
    &.margin_top_0 {
        margin-top: 0px;
    }
    .footerInner {
        width: 960px;
        margin: 0 auto;
        text-align: left;
        position: relative;
        padding: 20px 0;
    }
    ul {
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        .listItem {
            float: left;
            padding: 6px;
            margin-right: 60px;
            color: $grayFontColor;
            position: relative;
            &:last-child {
                &:after {
                    content: '';
                }
                margin-right: 0;
            }
            &:after {
                content: '|';
                font-size: 12px;
                color: #eee;
                @include abs-pos(6px, -30px, auto, auto);
            }
            .link {
                color: $grayFontColor;
                font-size: 12px;
                &:hover {
                    color: $orangeFontColor;
                }
            }
        }
    }
    .cope_right {
        font-size: 12px;
        padding: 0 70px 15px 0;
        text-align: center;
        text-shadow: 1px 1px 1px #fff;
        color: $grayFontColor;
        margin-top: 8px;
    }
    .server_phone {
        font-size: 12px;
        text-shadow: 1px 1px 1px #fff;
        color: $blackFontColor;
        margin-top: -5px;
        .phoneItem {
            margin-right: 25px;
        }
        .customServiceHotLine {
            background-position: -117px 3px;
            color: $grayFontColor;
        }
    }
    .bjcp_link {
        @include abs-pos(56px, 0, auto, auto);
        width: 54px;
        height: 54px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .ideConac {
        display: block;
        height: 60px;
        width: 60px;
        @include abs-pos(80px, -4px, auto, auto);
        img {
            height: 60px;
            width: 60px;
        }
    }
    .beianImg {
        margin: 0 5px 0 20px;
        vertical-align: middle;
    }
}

// 页脚-客户端-链接的客户端下载的页面的样式*/
.download_container {
    background: url(#{$loginModuleImgPath}for_parents_intro_bg.png?#{$imgVer}) repeat 0 0;
    width: 100%;
    height: 100%;
    .download_link {
        width: 960px;
        height: 530px;
        margin: auto;  
        position: absolute;  
        top: 0;  
        left: 0;  
        bottom: 0;  
        right: 0;
        @include bg_with_retina(appShot, png, $loginModuleImgPath);
    }
    .qrContainer {
        width: 283px;
        height: 266px;
        @include abs-pos(62px, 160px, auto, auto);
        img {
            width: 283px;
            height: 266px;
        }
    }
    .linkContainer {
        @include abs-pos(auto, 67px, 90px, auto);
    }
    .link {
        display: inline-block;
        width: 180px;
        height: 40px;
        color: $grayFontColor;
        text-align: center;
        line-height: 40px;
        border: 1px solid #ccc;
        font-size: 20px;
        margin: 0 25px;
        @include border-radius(100px);
        i {
            font-size: 27px;
            margin-right: 10px;
            @include rel-pos($top: 3px);
        }
        &:hover {
            color: #FFFFFF;
            background-color: #FFAA33;
            border-color: #FFAA33;
            i {
                color: #FFFFFF;
            }
        }
    }
}

