#switchXroleLayer {
    width: 558px;
    .privacy_message {
        padding: 0 20px;
    }
    .xrole {
        &:last-child {
            .xroleQunList {
                border: none;
            }
        }
    }
    .roleAlias,
    .xroleQunList {
        float: left;
    }
    .roleAlias {
        width: 70px;
        line-height: 22px;
        padding-top: 20px;
        margin-right: 18px;
        color: $lightBlackFontColor;
    }
    .xroleQunList {
        width: 430px;
        border-bottom: 1px dashed #e8e8e8;
        padding: 14px 0;
        margin: 0;
    }
    .xroleItem {
        display: inline-block;
        padding: 0 8px;
        height: 22px;
        line-height: 22px;
        margin: 6px 10px;
        color: $grayFontColor;
        cursor: pointer;
        &.on {
            color: #fff;
            background-color: $orange;
        }
        &:hover {
            color: $orangeFontColor;
        }
    }
}